header {
	position: relative;
	min-height: 100vh;
	.logo {
		padding: 30px;
		display: inline-block;
		position: fixed;
		&.logo-tsb {
			position: fixed;
			top: -6px;
			left: 0;
			max-width: calc(43% - 60px);
			img {
				width: 145px;
			}
		} 
		&.logo-fed {
			position: fixed;
			max-width: calc(57% - 60px);
			top: 0;
			right: 0;
			img {
				width: 192px;
			}
		}
	}
	.bs {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 520px;
		transform: translate(-50%, -50%);
	}
	.divider {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(0, 44%);
		width: 100%;
		z-index: 10;
	}
	
	#arrow-down {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 30px;
		width: 40px;
    height: 40px;
    padding: 20px;
		background-image: url(../images/arrow-down-white.svg);
		background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
	}
}
