header {
	background-image: url(../images/banner.webp);
	background-size: cover;
	background-position: center bottom;
	min-height: 100vh;
	.logo {
		padding: 30px;
		display: inline-block;
    filter: drop-shadow(0px 0px 9px #031d4d66);
		&.logo-tsb {
			max-width: calc(50% - 60px);
			img {
				width: 192px;
			}
		} 
		&.logo-fed {
			max-width: calc(50% - 60px);
			float: right;
			img {
				width: 192px;
			}
		}
	}
	#arrow-down {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 30px;
		width: 40px;
    height: 40px;
    padding: 20px;
		background-image: url(../images/arrow-down-white.svg);
		background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
	}
}
