section {
	position: relative;
	padding-top: $spacer-lg;
	&.pattern {
		position: relative;
		top: 50px;
		opacity: 0.3;
		transition: all 1.5s ease;
		&:before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: 820px;
			background-position: -820px center;
			background-image: url('../images/placeholder-1400x606.png');
			opacity: 0.4;
			z-index: -1;
			transition: all 1s ease;
		}
		&:nth-child(2n):before {
			transform: scaleX(-1)
		}
		&.show {
			opacity: 1;
			top: 0;
			&:before {
				background-position: -352px 0;
			}
		}
		
	}
	&:last-child {
		padding-bottom: $spacer-lg;
	}
}

.content {
	margin: auto;
	max-width: 90%;
	width: 800px;
	padding: 0 20px;
	img {
		margin-bottom: $spacer;
	}
}
