body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.25;
}
h1, .h1 {
	font-size: 63px;
	color: $navy;
	font-weight: 800;
}
h2 {
	margin-bottom: 18px;
	font-size: 26px;
	font-weight: 800;
	color: $navy;
}
p {
	margin-bottom: 20px;
	font-size: 18px;
	color: $navy;
	&.intro {
		font-size: 20px;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	a {
		color: $navy;
		text-decoration: none;
		display: inline-block;
		background-color: $green;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover, &:active, &:focus {
			color: $pink;
		}
	}
}

strong {
	font-weight: 800;
}

ul {
	margin-bottom: 20px;
	font-size: 18px;
	color: $navy;
	padding-left: 15px;
}
